div.password-form
	h2.title Reset Password
	form(
		role="form"
		name="reset_credentials"
	)
		p.col-md-12 Tell us your email address or your username and we'll send you a personalized link to reset your password.
		.form-group(
			ng-class="{ 'has-error': reset_credentials.email.$invalid }"
		)
			input#email.form-control(
				type="email"
				name='email'
				placeholder="Email Address"
				ng-model="email"
			)
		.form-group
			input#username.form-control(
				type="text"
				name='username'
				placeholder="Username"
				ng-model="username"
			)
		.actions-wrapper
			button.btn.btn-default.btn-block(
				type="submit"
				ng-click="request_reset_password()"
				ng-disabled="!(!!username || !!email)"
			) REQUEST PASSWORD RESET
		p.text-info.bg-info.custom-msg(
			ng-show="sent_request"
		) A request to reset your password has been sent. Please check your email for your personalized link.