div#checkin.container-fluid(
	ng-switch="volunteer.status"
)
	.row.col-md-4.col-centered
		img(src="/assets/images/gl-logo.png").logo
	.row.col-md-4.col-centered.form-wrapper
		button.btn.btn-default.btn-block(
			type="submit",
			ng-switch-default,
			ng-click="checkin()"
		) CHECKIN
		button.btn.btn-default.btn-block(
			type="submit",
			ng-switch-when="started",
			ng-click="checkout()"
		) CHECKOUT
	.row.col-md-4.col-centered(
		ng-switch-when="done"
	)
		p.text-success.bg-success.custom-msg Thank you for volunteering!