div#checkin.container-fluid(
	ng-switch="volunteer.status"
)
	.row.col-md-4.col-centered.form-wrapper
		h4.instructions Please check-in to indicate that you've started your volunteer shift.
		button.btn.btn-default.btn-block(
			type="submit",
			ng-switch-default,
			ng-click="checkin()"
		) CHECKIN
		button.btn.btn-default.btn-block(
			type="submit",
			ng-switch-when="started",
			ng-click="checkout()"
		) CHECKOUT
		p.text-success.bg-success.custom-msg(
			ng-switch-when="done"
		) Thank you for volunteering!