.Contact.container
  .row.form-wrapper
    h2.title Contact Details
    form.horizontal-form(role="form")
      .form-group.row
        label.col-md-2.control-label(for="name") Name
        .col-md-10
          input.form-control(
            type="text"
            name="name"
            disabled
            ng-model="volunteer.name"
          )
      .form-group.row
        label.col-md-2.control-label(for="street") Address
        .col-md-4
          input.form-control(
            type="text"
            name="street"
            ng-model="volunteer.address"
          )
        .col-md-3
          input.form-control(
            type="text"
            name="city"
            ng-model="volunteer.city"
            placeholder="city"
          )
        .col-md-1
          select.form-control(
            name="state"
            ng-model="volunteer.state"
            ng-options="state for state in stateAbbreviations"
          )
        .col-md-2
          label.sr-only(for="zip")
          input.form-control(
            type="text"
            name="zip"
            ng-model="volunteer.zip"
            placeholder="12345"
          )
      .form-group.row
        label.col-md-2.control-label(for="homePhone") Phone (H):
        .col-md-2
          input.form-control(
            type="tel"
            name="homePhone"
            ng-model="volunteer.home_phone"
            placeholder="Home Phone"
          )
        label.col-md-2.control-label(for="homeEmail") Email (H):
        .col-md-6
          input.form-control(
            type="email"
            name="homePhone"
            ng-model="volunteer.home_email"
            placeholder="volunteer@globallinks.org"
          )
      .form-group.row
        label.col-md-2.control-label(for="workPhone") Phone (W):
        .col-md-2
          input.form-control(
            type="tel"
            name="workPhone"
            ng-model="volunteer.work_phone"
            placeholder="Work Phone"
          )
        label.col-md-2.control-label(for="workEmail") Email (W):
        .col-md-6
          input.form-control(
            type="email"
            name="workEmail"
            ng-model="volunteer.work_email"
            placeholder="volunteer@globallinks.org"
          )
      .form-group.row
        label.col-md-2.control-label(for="mobilePhone") Phone (C):
        .col-md-2
          input.form-control(
            type="tel"
            name="mobilePhone"
            ng-model="volunteer.mobile_phone"
            placeholder="Cell Phone"
          )
        label.col-md-2.control-label(for="mobileEmail") Email (C):
        .col-md-6
          input.form-control(
            type="email"
            name="mobileEmail"
            ng-model="volunteer.alternate_email"
            placeholder="volunteer@globallinks.org"
          )
      .form-group.row
        label.col-md-2.control-label(for="emergency") Emergency Contact:
        .col-md-2
          input.form-control(
            type="text"
            name="emergency"
            ng-model="volunteer.emergency_name"
            placeholder="Name"
          )
        label.col-md-1.control-label(for="emergencyRelationship") Relation:
        .col-md-2
          input.form-control(
            type="text"
            name="emergencyRelationship"
            ng-model="volunteer.emergency_relationship"
            placeholder="Relationship"
          )
        label.col-md-1.control-label(for="emergencyPhone") Phone:
        .col-md-2
          input.form-control(
            type="tel"
            name="emergencyPhone"
            ng-model="volunteer.emergency_phone"
            placeholder="Phone"
          )
        label.col-md-1.control-label(for="emergencyPhoneType") Type:
        .col-md-1
          select.form-control(
            name="emergencyPhoneType"
            ng-model="volunteer.emergency_phone_type"
            ng-options="type for type in [ 'Home', 'Work', 'Cell' ]"
          )
      .row.waivers
        .col-md-12.col-centered
          .form-inline
            .col-md-3
              .checkbox
                label
                  input(
                    type="checkbox"
                    ng-model="volunteer.waiver.clause1"
                    ng-disabled="volunteer.waiver.clause1"
                  )
                  | I Agree to Waiver 1
          .form-inline
            .col-md-3
              .checkbox
                label
                  input(
                    type="checkbox"
                    ng-model="volunteer.waiver.clause2"
                    ng-disabled="volunteer.waiver.clause2"
                  )
                  | Signed Waiver 2
          .form-inline
            .col-md-3
              .checkbox
                label
                  input(
                    type="checkbox"
                    ng-model="volunteer.waiver.all"
                    ng-disabled="!(volunteer.waiver.clause1 && volunteer.waiver.clause2) || volunteer.waiver.all"
                  )
                  | I Agree to All Waivers
          .form-inline
            .col-md-3
              .checkbox
                label
                  input(
                    type="checkbox"
                    ng-model="volunteer.waiver.photo"
                    ng-disabled="volunteer.waiver.photo"
                  )
                  | Photo Release
      .row
        .col-md-6.col-md-offset-3
          button.btn.btn-block.btn-primary(
            ng-click="volunteer.$save()"
          ) Update Contact Information
