div.login-form
	h2.title Volunteer Login
	form(
		role="form"
		name="credentials"
	)
		.form-group
			input#username.form-control(
				type="text"
				name='username'
				placeholder="Username"
				ng-model="username"
			)
		.form-group
			input#password.form-control(
				type="password"
				name='password'
				placeholder="Password"
				ng-model="password"
			)
		.col-md-12.actions-wrapper
			button.btn.btn-default.btn-block(
				type="submit"
				ng-click="login()"
			) LOGIN
			p.text-danger.bg-danger.custom-msg(
				ng-show="error"
			) There was an error signing in. Please try again.
			hr
			span.sign-up
				a(ui-sref='auth.signup') Already a volunteer, but need an account?
			span.reset-password
				a(ui-sref='auth.resetpassword') Forgot your password?
			span.new-volunteer
				a(href="http://www.globallinks.org/get_involved/volunteer.php") Sign up to be a Global Links volunteer
